.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(
    to bottom,
    rgba(5, 10, 30, 0.95),
    rgba(5, 10, 30, 0.75)
	);

	backdrop-filter: blur(8px);
	padding: 0 2rem;

	z-index: 1000;
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sign-in {
  background: #2d46c0;
  color: white;

  border: none;
  border-radius: 10px;

  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: none; 

  cursor: pointer;
  min-width: 50px;
  min-height: 30px;

  margin-top: -2px;
  margin-left: -2px;
}



.hero{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	padding-top: 64px;
}

.hero h1 {
	color: white;
	font-size: 4rem;

	font-weight: 500;
}

button {
    margin-top: 1rem;
    background: linear-gradient(135deg, #4f6bff, #6a5cff);
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 12px;
	color: white;
    min-width: 180px;
    min-height: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
	cursor: pointer;
	font-weight: 600;
	box-shadow: 0 8px 20px rgba(79, 109, 255, 0.35);

  	transition: all 0.25s ease;
}


.btn-logo {
    width: 24px; 
    height: 24px;
}

