
/* index.css */
html, body {
  margin: 0;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

body {
  background:
    radial-gradient(
      circle at top center,
      #1e3a8a 0%,
      #0f172a 60%,
      #020617 100%
    );
}

* {
	box-sizing: border-box;
}
